body {
  background-color: #49d9f4;
  margin: none;
}

.box__column:first-of-type {
  padding: 30px;
}
.box__column:nth-child(2) {
  display: flex;
  justify-content: space-between;
}
/* 이부분때문에 옆으로 안넘어 가는 것 같은데,,,  */
.first-img {
  display: flex;
  max-width: 800px;
  max-height: 500px;
  overflow: hidden;
  justify-content: space-between;
}

.chevron:first-of-type {
  margin-top: 200px;
  padding-left: 50px;
  color: white;
  opacity: 80%;
}

.chevron:last-of-type {
  padding-right: 50px;
}

.box__column__dot {
  display: flex;
  justify-content: center;
}
.fa-circle {
  padding-right: 30px;
  padding-top: 20px;
  opacity: 60%;
}

.box__column_center {
  display: inline-block;
}

.box__column_pre,
.box__column_next {
  cursor: pointer;
}
