body {
    margin: 0px;
  }
  
  h1 {
    font-weight: 300;
    letter-spacing: 0.3px;
    text-align: center;
  }
  
  .main-logo {
    display: block;
    width: 240px;
    margin: 3em auto;
  }
  
  .container__question{
    display: flex;
    justify-content: center;
    border: 2px solid #5d02ef;
    margin: 20px;
    background-color: #eae7c0;
  }
  
  .container__choice{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 20px;
    margin: 20px;
  }
  
  .choice__text{
    padding: 20px;
    margin: 10px;
    background-color: #a481f4;
    color: white;
  }
  .choice__text:hover{
    background-color:thistle ;
  }
  .container__button{
    display: flex;
    justify-content: space-between;
  }
  .submit__button,
  .next__button{
    border: none;
    margin: 20px;
    padding: 12px;
    width: 80px;
    color:white;
    background-color: thistle;
  }
  .submit__button:hover,
  .next__button:hover{
    background-color: #a481f4;
  }
  .start__page{
    display: flex;
    justify-content: center;
  }
  .start__button{
    border: none;
    padding: 30px;
    width: 50%;
    height: 50%;
    background-color: #a481f4;
    color: aliceblue;
    font-size: 50px;
  }
  .start__button:hover{
    background-color: thistle;
  }